	<!-- <label for= "cat_id">Cat's ID </label>
	<input name = "cat[id]" id = "cat_id" type="number" value= "<%= @request.id %>">
	<br>
 -->



	<label for= "begin_date">Begin Date</label>
	<input name= "cat_rental_request[begin_date]" id= "begin_date" type= "date" value= "<%= @request.begin_date %>">
	<br>

	<label for= "end_date">end Date</label>
	<input name= "cat_rental_request[end_date]" id= "end_date" type= "date" value= "<%= @request.end_date %>">
	<br>


	<input type="submit" value="Submit Request!">